/* ==========================================================================
   Imports
   ========================================================================== */

@import "normalize";

@import "compass/support";
@import "compass/css3/transition";

/* ==========================================================================
   Variables
   ========================================================================== */

$legacy-support-for-ie6           : false;
$legacy-support-for-ie7           : false;
$experimental-support-for-opera   : false;
$experimental-support-for-mozilla : false;

$base-font-size: 22px;

$default-transition-function: ease-in-out;

$default_bg       : #ebebeb;
$default_color    : #333;
$default_hl_color : #49b74a;

/* ==========================================================================
   Functions
   ========================================================================== */

@function em($target, $context: $base-font-size) {
	@if $target == 0 { @return 0 }
	@return $target / $context + 0em;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

html {
	font-size: 62.5%; /* equiv 10px with 16px default browser font-size */
}
body {
	background: $default_bg;
	font-size: 1em; /* equiv 22px with 2.2em */
	line-height: 1.5;
}
div {
	position: relative; max-width: 53em; height: 32em; margin: 5% auto; padding: 0 1em;
	background: center no-repeat url(../img/layout/404.svg); background-size: contain;
}
a {
	position: absolute; left: 3%; top: 5%; display: inline-block;
	color: $default_color; text-align: center; font-family: "museo-sans-condensed", arial, sans-serif; font-style: normal; font-weight: normal; text-transform: uppercase; text-decoration: none;

	& span {
		display: block;
		@include single-transition(all,.2s);
	}
	& .s01 { font-size: 8em;    line-height: .75em; }
	& .s02 { font-size: 4em;    line-height: .85em; }
	& .s03 { font-size: 1.28em; line-height: 1.2em; }
	& .s04 { font-size: 2.07em; line-height: .85em; }

	&:hover .s04,
	&:focus .s04 {
		color: $default_hl_color;
	}
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 30em) {
	
	body{
		font-size: 1.2em;
	}
	a {
		left: 9%;
	}
}
@media only screen and (min-width: 40em) {
	
	body{
		font-size: 1.6em;
	}
}
@media only screen and (min-width: 53em) {
	
	body{
		font-size: 2.2em;
	}
}