/* ==========================================================================
   Imports
   ========================================================================== */

/* ==========================================================================
   Variables
   ========================================================================== */

$base-font-size: 22px;

$default_bg       : #eee;
$default_color    : #333;
$default_hl_color : #888;
$green_bg         : #ccc;
$green_color      : #333;
$grey_color       : #666;
$grey_bg          : #ccc;

/* ==========================================================================
   Functions
   ========================================================================== */

@function em($target, $context: $base-font-size) {
	@if $target == 0 { @return 0 }
	@return $target / $context + 0em;
}

/* ==========================================================================
   Vertical Rhythm (http://soqr.fr/vertical-rhythm/)
   Font-size : 22px  Line-height : 1.5
   ========================================================================== */

html{
	font-size: 62.5%; /* equiv 10px with 16px default browser font-size */
}
body{
	font-size: 2.2em; /* equiv 22px with 2.2em */
	line-height: 1.5;
}
p, ul, ol, dl, blockquote, pre, td, th, label, textarea, caption {
	font-size: 1em; /* equiv 22px */
	line-height: 1.5em;
	margin: 1.5em 0;
}
.smaller{
	font-size: .6818em; /* equiv 15px */
	line-height:  2.2em;
	margin:  2.2em 0  2.2em 0;
}
.small{
	font-size: .8182em; /* equiv 18px */
	line-height:  1.8333em;
	margin:  1.8333em 0  1.8333em 0;
}
.big{
	font-size:  1.3636em; /* equiv 30px */
	line-height:  1.1em;
	margin:  1.1em 0  1.1em 0;
}
.bigger{
	font-size:  1.6364em; /* equiv 36px */
	line-height: 1.8334em;
	margin: .9167em 0 .9167em 0;
}
.biggest{
	font-size:  1.8182em; /* equiv 40px */
	line-height: 1.65em;
	margin: .825em 0 .825em 0;
}
/* h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0;
} */
p:last-child, ul:last-child, ol:last-child, dl:last-child, blockquote:last-child, pre:last-child, table:last-child  {
	margin-bottom: 0;
}
li p, li ul{
	margin-top: 0;
	margin-bottom: 0;
}
textarea, table, td, th, code, pre, samp, div, p {
	word-wrap: break-word;
	hyphens: auto;
}
code, pre, samp {
	white-space: pre-wrap;
	font-family: consolas, courier, monospace;
	font-style: normal;
}
code{
	line-height: 1em;
}
table{
	margin-bottom: 1.5em;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

html,button,input,select,textarea,a {
	font-family: 'Droid Serif', georgia, serif; font-style: italic; color: $default_color;
}
body {
	background: $default_bg;
}
h1,h2,h3,h4,h5,h6,.h-style,button {
	font-family: "museo-sans-condensed", arial, sans-serif; font-style: normal; font-weight: normal; text-transform: uppercase;
}
h1 abbr[title], h2 abbr[title], h3 abbr[title] {
	border-bottom: 0;
}
a {
	text-decoration: underline;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}
img {
	vertical-align: middle;
}
svg {
	display: none;
}
textarea {
	resize: vertical;
}

hr {
	display: none;
}

.wrapper {
	width: 53em; margin-left: auto; margin-right: auto; padding-left: 1em; padding-right: 1em;
}

nav,
.navicon,
[id='navcheck'] {
	display: none;
}

.header {
	padding: 8% 0;
	text-align: center;

	img {
		display: none;
	}
	h1 {
		margin: 0;
		font-size: 2.7273em; line-height: 1em;
	}
	strong {
		display: block;
		font-weight: normal; color: $default_hl_color;
	}
	h2 {
		margin: -.8em 0 0;
		font-family: 'Droid Serif', georgia, serif; font-style: italic; line-height: 3em; text-transform: none; color: $grey_color; letter-spacing: .02em;
	}
	p a {
		display: inline-block; width: 1em; height: 1em; margin: 0 .5em; padding: 0;
	}
}

article {
	position: relative; padding: 8% 0;

	&.green {
		background: $green_bg;
		color: $green_color;
	}
	& > header {
		display: none;
	}
}

.quote {
	text-align: center;
	p {
		position: relative; display: inline-block; margin: 0;
		line-height: 1.5em;
		svg {
			display: none;
		}
		span {
			display: inline-block; height: 1.5em; overflow: hidden;
			vertical-align: top;
		}
		span span {
			display: block;
			text-align: left;
		}
	}
}

.skills {
	section {
		margin-bottom: 6%;

		header {
			float: left;
			text-align: center;
			span {
				display: block;
				line-height: .85em;
			}
		}
		p {
			float: right; width: 65%;
		}
		h1 {
			position: relative; display: inline-block; margin: 1.5em 0; padding:0;
			font-size: 1em; text-transform: uppercase; text-align: center;
		}
	}
	.s01 { font-size: em(84px); }
	.s02 { font-size: em(100px); }
	.s03 { font-size: em(163px); }
	.s04 { font-size: em(79px); }
	.s05 { font-size: em(86px); }
	.s06 { font-size: em(66px); }
	.s07 { font-size: em(60px); }
	.s08 { font-size: em(63px); }
}

.love {
	img {
		display: none;
	}
	p {
		line-height: 1.6em; margin: 0;
	}
	p span {
		line-height: 1em;
	}
}

.xp {
	.wrapper {
		max-width: 45em;
	}
	input {
		display: none;
	}
	div {
		section {
			margin: 1.5em 0; padding: 1% 0;
			background: $grey_bg;
			h1 {
				display: inline-block; margin: 0;
				background-position: left center; background-repeat: no-repeat;
				line-height: 1.1em;
				vertical-align: top;
			}
			label {
				cursor: pointer;
			}
			div div {
				max-height: 50em; overflow: hidden;
			}
		}
		.sreenshots,
		img {
			display: none !important;
		}
	}
}

.social {
	display: none; padding: 0;
}

.contact {
	div div {
		float: none; width: auto; padding-top: 0;
		text-align: center;
	}
	form {
		display: none;
	}
	a {
		display: inline-block;
		text-decoration: none;
	}
	span {
		display: block;
		line-height: .85em;
	}
	.s1 { font-size: em(98px); }
	.s2 { font-size: em(68px); }
	.s3 { font-size: em(73px); }
	.s4 { font-size: em(99px); }
	.s5 { font-size: em(132px); }
}

footer {
	position: relative; padding: 2em 0 1em; overflow: hidden;
	background: $grey_bg;
	text-align: center;
	span {
		margin: 0 .5em;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}