/* ==========================================================================
   Print Media Query
   ========================================================================== */

@include media("print") {
	body {
		font-size: 1em;
	}
	body::before {
		content: none;
	}
	nav,
	.navicon,
	form,
	footer a.totop {
		display: none;
	}
	.banner {
		padding: 2% 0;
	}
	.skills section {
		margin-bottom: 2%;
	}
	article {
		padding: 1% 0;
	}
	@page {
		margin: 0.5cm;
	}
	p,h2,h3 {
		orphans: 1;
		widows: 1;
	}
	h2,h3, section {
		page-break-after: avoid;
	}
	.skills section:nth-child(odd) header,
	.skills section:nth-child(even) header,
	.talks ul span,
	.xp section	h3,
	.love p span,
	.contact .m [class^='s']:nth-child(odd),
	.contact .m [class^='s']:nth-child(even) {
		&.outside {
			transform: none;
			opacity: 1;
		}
	}
}
