{
  "name": "Twikito",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "_scss/_ui-hr.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_ui-hr.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_ui-hr.css\"}"
    },
    {
      "path": "_scss/vendor/normalize/_normalize.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/vendor/normalize/_normalize.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_scss/vendor/css/_normalize.css\"}"
    },
    {
      "path": "assets/css/404.css",
      "configJson": "{\"compiler-css\":{\"path\":\"assets/css/404.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"assets/css/404-min.css\"}"
    },
    {
      "path": "assets/css/konami.css",
      "configJson": "{\"compiler-css\":{\"path\":\"assets/css/konami.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"assets/css/konami-min.css\"}"
    },
    {
      "path": "assets/js/main.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"assets/js/main.js\",\"mangle\":true},\"autoCompile\":true,\"compiler-uglify-js\":{\"enabled\":true},\"sourceMap\":true,\"compiler-babel\":{\"enabled\":false},\"customOutput\":\"assets/js/main.min.js\"}"
    },
    {
      "path": "assets/js/main.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"assets/js/main.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"sourceMap\":false,\"compiler-babel\":{\"enabled\":false},\"customOutput\":\"assets/js/main.min.min.js\"}"
    },
    {
      "path": "assets/img/screenshots/cdiscount-1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/cdiscount-1.jpg\",\"size\":50576,\"initialSize\":50576,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/cdiscount-2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/cdiscount-2.jpg\",\"size\":71854,\"initialSize\":71854,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/cdiscount-zoom-1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/cdiscount-zoom-1.jpg\",\"size\":236272,\"initialSize\":236272,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/cdiscount-zoom-2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/cdiscount-zoom-2.jpg\",\"size\":630451,\"initialSize\":630451,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/century21-1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/century21-1.jpg\",\"size\":54391,\"initialSize\":54391,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/century21-2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/century21-2.jpg\",\"size\":71369,\"initialSize\":71369,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/century21-zoom-1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/century21-zoom-1.jpg\",\"size\":503137,\"initialSize\":503137,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/century21-zoom-2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/century21-zoom-2.jpg\",\"size\":765518,\"initialSize\":765518,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/littlerockdiner-1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/littlerockdiner-1.jpg\",\"size\":80578,\"initialSize\":80578,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/littlerockdiner-2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/littlerockdiner-2.jpg\",\"size\":41735,\"initialSize\":41735,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/littlerockdiner-zoom-1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/littlerockdiner-zoom-1.jpg\",\"size\":328059,\"initialSize\":328059,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/littlerockdiner-zoom-2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/littlerockdiner-zoom-2.jpg\",\"size\":256819,\"initialSize\":256819,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/manufacture-ateliers-creatifs-1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/manufacture-ateliers-creatifs-1.jpg\",\"size\":73559,\"initialSize\":73559,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/manufacture-ateliers-creatifs-2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/manufacture-ateliers-creatifs-2.jpg\",\"size\":106270,\"initialSize\":106270,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/manufacture-ateliers-creatifs-zoom-1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/manufacture-ateliers-creatifs-zoom-1.jpg\",\"size\":369592,\"initialSize\":369592,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/manufacture-ateliers-creatifs-zoom-2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/manufacture-ateliers-creatifs-zoom-2.jpg\",\"size\":738171,\"initialSize\":738171,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/mondial-assistance-1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/mondial-assistance-1.jpg\",\"size\":53044,\"initialSize\":53044,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/mondial-assistance-2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/mondial-assistance-2.jpg\",\"size\":51844,\"initialSize\":51844,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/mondial-assistance-zoom-1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/mondial-assistance-zoom-1.jpg\",\"size\":915760,\"initialSize\":915760,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/mondial-assistance-zoom-2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/mondial-assistance-zoom-2.jpg\",\"size\":802327,\"initialSize\":802327,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/opquast-1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/opquast-1.jpg\",\"size\":38040,\"initialSize\":38040,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/opquast-2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/opquast-2.jpg\",\"size\":32123,\"initialSize\":32123,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/opquast-zoom-1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/opquast-zoom-1.jpg\",\"size\":125145,\"initialSize\":125145,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/opquast-zoom-2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/opquast-zoom-2.jpg\",\"size\":161296,\"initialSize\":161296,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/peep-1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/peep-1.jpg\",\"size\":64829,\"initialSize\":64829,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/peep-2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/peep-2.jpg\",\"size\":65694,\"initialSize\":65694,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/peep-zoom-1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/peep-zoom-1.jpg\",\"size\":417644,\"initialSize\":417644,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/peep-zoom-2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/peep-zoom-2.jpg\",\"size\":388703,\"initialSize\":388703,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/shibuya-1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/shibuya-1.jpg\",\"size\":38695,\"initialSize\":39663,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/shibuya-2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/shibuya-2.jpg\",\"size\":29019,\"initialSize\":30199,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/shibuya-zoom-1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/shibuya-zoom-1.jpg\",\"size\":188423,\"initialSize\":190502,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/shibuya-zoom-2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/shibuya-zoom-2.jpg\",\"size\":175555,\"initialSize\":176187,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/social/logo-social.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/social/logo-social.jpg\",\"size\":96650,\"initialSize\":96650,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "_scss/404.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"assets/css/404.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-sass\":{\"path\":\"_scss/404.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false}}"
    },
    {
      "path": "_scss/konami.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"assets/css/konami.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-sass\":{\"path\":\"_scss/konami.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false}}"
    },
    {
      "path": "_scss/main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"assets/css/main.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-sass\":{\"path\":\"_scss/main.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false}}"
    },
    {
      "path": "assets/css/main.css",
      "configJson": "{\"compiler-css\":{\"path\":\"assets/css/main.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"assets/css/main-min.css\"}"
    },
    {
      "path": "_scss/_bloc-contact.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_bloc-contact.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_bloc-contact.css\"}"
    },
    {
      "path": "_scss/_bloc-header.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_bloc-header.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_bloc-header.css\"}"
    },
    {
      "path": "_scss/_ui-logo.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_ui-logo.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_ui-logo.css\"}"
    },
    {
      "path": "_scss/_bloc-skills.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_bloc-skills.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_bloc-skills.css\"}"
    },
    {
      "path": "_scss/_bloc-xp.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_bloc-xp.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_bloc-xp.css\"}"
    },
    {
      "path": "_scss/_ui-lightbox.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_ui-lightbox.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_ui-lightbox.css\"}"
    },
    {
      "path": "_scss/_bloc-love.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_bloc-love.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_bloc-love.css\"}"
    },
    {
      "path": "_scss/_bloc-footer.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_bloc-footer.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_bloc-footer.css\"}"
    },
    {
      "path": "_scss/_ui-form.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_ui-form.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_ui-form.css\"}"
    },
    {
      "path": "_scss/_bloc-navigation.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_bloc-navigation.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_bloc-navigation.css\"}"
    },
    {
      "path": "_scss/_bloc-social.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_bloc-social.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_bloc-social.css\"}"
    },
    {
      "path": "_scss/_ui-navigation.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_ui-navigation.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_ui-navigation.css\"}"
    },
    {
      "path": "_scss/_bloc-quote.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_bloc-quote.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_bloc-quote.css\"}"
    },
    {
      "path": "_scss/_rwd-print.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_rwd-print.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_rwd-print.css\"}"
    },
    {
      "path": "_scss/_sass-mixins.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_sass-mixins.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_sass-mixins.css\"}"
    },
    {
      "path": "_scss/_ui-helpers.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_ui-helpers.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_ui-helpers.css\"}"
    },
    {
      "path": "_scss/_ui-specifics.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_ui-specifics.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_ui-specifics.css\"}"
    },
    {
      "path": "_scss/_page-layout.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_page-layout.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_page-layout.css\"}"
    },
    {
      "path": "_scss/_sass-animations.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_sass-animations.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_sass-animations.css\"}"
    },
    {
      "path": "_scss/_sass-base.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_sass-base.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_sass-base.css\"}"
    },
    {
      "path": "_scss/_sass-typo.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_sass-typo.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_sass-typo.css\"}"
    },
    {
      "path": "_scss/_sass-variables.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_sass-variables.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_sass-variables.css\"}"
    },
    {
      "path": "_scss/_ui-article.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_ui-article.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_ui-article.css\"}"
    },
    {
      "path": "_scss/vendor/ceaser/_ceaser.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/vendor/ceaser/_ceaser.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_scss/vendor/css/_ceaser.css\"}"
    },
    {
      "path": "_scss/_bloc-talks.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_bloc-talks.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_bloc-talks.css\"}"
    },
    {
      "path": "assets/img/screenshots/sudweb-1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/sudweb-1.jpg\",\"size\":32075,\"initialSize\":32075,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/sudweb-2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/sudweb-2.jpg\",\"size\":43614,\"initialSize\":43614,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/sudweb-zoom-1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/sudweb-zoom-1.jpg\",\"size\":130053,\"initialSize\":130053,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/sudweb-zoom-2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/sudweb-zoom-2.jpg\",\"size\":284183,\"initialSize\":284183,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/osteo2ls-zoom-2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/osteo2ls-zoom-2.jpg\",\"size\":107392,\"initialSize\":110665,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/osteo2ls-2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/osteo2ls-2.jpg\",\"size\":21545,\"initialSize\":22914,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/social/illus-social.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/social/illus-social.jpg\",\"size\":35910,\"initialSize\":36083,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/social/404-social.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/social/404-social.jpg\",\"size\":75689,\"initialSize\":75689,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/favicons/android-chrome-192x192.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/favicons/android-chrome-192x192.png\",\"size\":21374,\"initialSize\":22239,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/favicons/android-chrome-512x512.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/favicons/android-chrome-512x512.png\",\"size\":75909,\"initialSize\":80337,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/favicons/favicon-16x16.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/favicons/favicon-16x16.png\",\"size\":1426,\"initialSize\":1484,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/favicons/mstile-150x150.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/favicons/mstile-150x150.png\",\"size\":13310,\"initialSize\":13671,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/favicons/favicon-32x32.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/favicons/favicon-32x32.png\",\"size\":2595,\"initialSize\":2601,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/favicons/apple-touch-icon.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/favicons/apple-touch-icon.png\",\"size\":15119,\"initialSize\":15592,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/osteo2ls-1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/osteo2ls-1.jpg\",\"size\":22559,\"initialSize\":23453,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/img/screenshots/osteo2ls-zoom-1.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/img/screenshots/osteo2ls-zoom-1.jpg\",\"size\":203984,\"initialSize\":203984,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "_scss/_sass-scroll-effect.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"_scss/_sass-scroll-effect.scss\",\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_sass-scroll-effect.css\"}"
    },
    {
      "path": "assets/js/vendor/jquery-3.1.0.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"assets/js/vendor/jquery-3.1.0.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"sourceMap\":false,\"compiler-babel\":{\"enabled\":false},\"customOutput\":\"assets/js/vendor/jquery-3.1.0.min.min.js\"}"
    },
    {
      "path": "README.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"README.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":false,\"customOutput\":\"README.html\"}"
    },
    {
      "path": "assets/js/vendor/jquery-3.1.0.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"assets/js/vendor/jquery-3.1.0.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"sourceMap\":false,\"compiler-babel\":{\"enabled\":false},\"customOutput\":\"assets/js/vendor/jquery-3.1.0.min.js\"}"
    },
    {
      "path": "assets/img/screenshots/worders-zoom-2.jpg",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-jpg\":{\"enabled\":true,\"originalSize\":173124,\"newSize\":193514}}"
    },
    {
      "path": "assets/img/screenshots/worders-zoom-1.jpg",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-jpg\":{\"enabled\":true,\"originalSize\":173383,\"newSize\":195324}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "_scss",
      "assets/img",
      "assets/img/screenshots"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "_scss/404.scss",
      "imports": [
        "_scss/vendors/normalize/_normalize.scss"
      ]
    },
    {
      "path": "_scss/konami.scss",
      "imports": [
        "_scss/vendors/ceaser/_ceaser.scss",
        "_scss/scss/_config.scss",
        "_scss/vendors/include-media/_include-media.scss"
      ]
    },
    {
      "path": "_scss/main.scss",
      "imports": [
        "_scss/vendors/ceaser/_ceaser.scss",
        "_scss/scss/_config.scss",
        "_scss/scss/_mixins.scss",
        "_scss/vendors/normalize/_normalize.scss",
        "_scss/vendors/include-media/_include-media.scss",
        "_scss/base/_animations.scss",
        "_scss/base/_init.scss",
        "_scss/base/_scroll-effect.scss",
        "_scss/base/_typo.scss",
        "_scss/layout/_layout.scss",
        "_scss/bloc/_header.scss",
        "_scss/bloc/_navigation.scss",
        "_scss/bloc/_quote.scss",
        "_scss/bloc/_skills.scss",
        "_scss/bloc/_love.scss",
        "_scss/bloc/_xp.scss",
        "_scss/bloc/_talks.scss",
        "_scss/bloc/_social.scss",
        "_scss/bloc/_contact.scss",
        "_scss/bloc/_footer.scss",
        "_scss/ui/_navigation.scss",
        "_scss/ui/_logo.scss",
        "_scss/ui/_hr.scss",
        "_scss/ui/_article.scss",
        "_scss/ui/_lightbox.scss",
        "_scss/ui/_form.scss",
        "_scss/ui/_specifics.scss",
        "_scss/ui/_helpers.scss",
        "_scss/print/_print.scss"
      ]
    },
    {
      "path": "_scss/_sass-variables.scss",
      "imports": [
        "_scss/vendor/ceaser/_ceaser.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "html",
      "htm",
      "css",
      "rb",
      "php",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "json",
      "ts",
      "pug"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7882,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"compiler-sass\":{\"libSass\":true,\"nodeSassCompress\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-minify-css\":{\"enabled\":false}}",
  "file-type-less": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"compiler-less\":{\"strictMath\":false,\"strictUnits\":false,\"enabled\":true},\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "autoprefixer": {
    "browsers": "last 4 versions"
  },
  "file-type-pug": "{\"autoCompile\":true,\"compiler-pug\":{\"pretty\":true,\"enabled\":true},\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-css": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-min\"}",
  "file-type-javascript": "{\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-javascript\":{\"mangle\":true},\"sourceMap\":false,\"compiler-babel\":{\"enabled\":false},\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\".min\",\"compiler-concat-js\":{\"enabled\":true}}",
  "file-type-stylus": "{\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-stylus\":{\"nib\":false,\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "file-type-markdown": "{\"autoCompile\":true,\"compiler-markdown\":{\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false,\"enabled\":true,\"githubFlavored\":true},\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-haml": "{\"autoCompile\":true,\"compiler-haml\":{\"pretty\":true,\"doubleQuotes\":false,\"enabled\":true,\"doubleQuoteAttributes\":true},\"compilers\":[\"haml\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-slim": "{\"autoCompile\":true,\"compiler-slim\":{\"pretty\":true,\"indent\":\"default\",\"enabled\":true},\"compilers\":[\"slim\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-coffee-script": "{\"autoCompile\":true,\"compiler-coffee-script\":{\"bare\":false,\"mangle\":true,\"iced\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"sourceMap\":false,\"compilers\":[\"coffee-script\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-livescript": "{\"autoCompile\":true,\"compiler-livescript\":{\"bare\":false,\"mangle\":true,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compilers\":[\"livescript\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-kit": "{\"autoCompile\":true,\"compiler-kit\":{\"minifyHtml\":false,\"enabled\":true},\"compilers\":[\"kit\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}