.contact {
	.wrapper {
		@include media(">large") {
			display: flex;
			flex-flow: row-reverse nowrap; align-items: center;
			& > * {
				flex: 1;
			}
		}
	}
	.m {
		text-align: center;
		@include media(">large") {
			margin-left: 10%;
		}
		a {
			display: inline-block;
			text-decoration: none; text-align: center;
			&:hover,
			&:focus {
				[class^='s'] {
					&:nth-child(odd) span {
						color: darken($green-block-bg, 10%);
					}
					&:nth-child(even) span {
						color: $green-block-bg;
					}
				}
			}
		}
		[class^='s'] {
			display: block;
			line-height: .85em; text-align: center;
			span {
				transition: color $default-duration $default-timing-function;
			}
			&:nth-child(odd) {
				&.outside {
					transform: translateX(-4rem);
				}
			}
			&:nth-child(even) {
				&.outside {
					transform: translateX(4rem);
				}
				span {
					color: #aaa;
				}
			}
		}
		.s1 { font-size: (11/$media-ratio-xl)*1em; }
		.s2 { font-size: (7.3/$media-ratio-xl)*1em; }
		.s3 { font-size: (7.9/$media-ratio-xl)*1em; }
		.s4 { font-size: (11/$media-ratio-xl)*1em; }
		.s5 { font-size: (15.7/$media-ratio-xl)*1em; }
	}
}
