.love {
	.wrapper {
		@include media(">large") {
			display: flex;
			flex-flow: row nowrap; align-items: center;
		}
	}
	figure {
		width: 35%; margin: 0 auto 1em;
		@include media(">medium") {
			width: 25%;
		}
		@include media(">large") {
			margin: 0 5% 0 0;
			flex: 1;
		}
	}
	p {
		line-height: 1.6em; margin: 0;
		@include media(">large") {
			flex: 3;
		}
		span {
			display: inline-block; margin: 0;
			line-height: 1em;
			&.outside {
				transform: translateY(-1em);
			}
		}
	}
}
