/* ==========================================================================
   Imports
   ========================================================================== */

@import "vendor/normalize/normalize";

/* ==========================================================================
   Variables
   ========================================================================== */

$base-font-size: 22px;

$default_bg       : #f0f0f6;
$default_color    : #333;
$default_hl_color : #49b74a;

/* ==========================================================================
   Custom styles
   ========================================================================== */

html {
	height: 100%;
	font-size: 62.5%;
}
body {
	display: flex; min-height: 100%;
	flex-flow: row nowrap; justify-content: center; align-items: center;
	background: $default_bg;
	font-size: .75em;
	line-height: 1.5;
}
div {
	position: relative; margin: 1em;
	flex: 0 1 53em;
	background: center / contain no-repeat url(../img/layout/404.svg);
	&::before {
		display: block; margin-bottom: 60%;
		content: '';
	}
}
a {
	position: absolute; left: 3%; top: 5%; display: inline-block;
	color: $default_color; text-align: center; font-family: 'PT Sans Narrow', arial, sans-serif; font-style: normal; font-weight: 700; text-transform: uppercase; text-decoration: none;

	span {
		display: block;
		transition: all .2s ease-in-out;
	}
	.s01 { font-size: 8em;     line-height: .75em; }
	.s02 { font-size: 4.2em;   line-height: .85em; display: none; }
	.s03 { font-size: 1.325em; line-height: 1.2em; }
	.s04 { font-size: 2.125em; line-height: .85em; }

	&:hover .s04,
	&:focus .s04 {
		color: $default_hl_color;
	}
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: 24em) {

	body{
		font-size: 1em;
	}
}
@media (min-width: 33em) {

	body{
		font-size: 1.2em;
	}
	a {
		left: 9%;
		.s02 {
			display: block;
		}
	}
}
@media (min-width: 45em) {

	body{
		font-size: 1.6em;
	}
}
@media (min-width: 60em) {

	body{
		font-size: 2.2em;
	}
}
