.social {
	p {
		display: flex;
		flex-flow: row nowrap; justify-content: space-between; align-items: center;
		text-align: center; margin: 0;
		a {
			display: inline-block; margin: 0 4%; padding: 0;
			flex: 1;
			&:hover,
			&:focus {
				svg {
					fill: #fff;
				}
			}
		}
		svg {
			width: 100%; height: 100%;
			fill: $green-block-color;
			transition: $default-duration $default-timing-function;
		}
	}
}
