nav {
	position: fixed; top: 0; height: 120%; left: 0; z-index: 8; display: block; width: 11.5em; padding-top: $navitem-size;
	background: rgba($darkgrey, .9);
	transform: translate3d(0,0,0); /* Hardware acceleration */
	transform: translateX(-11.5em);
	transition: $default-duration $default-timing-function;
	@media (min-width: $media-breakpoint-sm) {
		width: $navitem-size;
		background: rgba($darkgrey,.6);
		transform: translateX(-$navitem-size);
	}
	&:hover a {
		opacity: .35;
	}
	a {
		position: relative; display: block; width: 11.5em; height: $navitem-size;
		transform: translateX(-100%);
		color: $white; text-decoration: none;
		@media (min-width: $media-breakpoint-sm) {
			width: $navitem-size;
		}
		&:hover,
		&:focus {
			opacity: 1;
			@media (min-width: $media-breakpoint-md) {
				background-color: rgba($darkgrey,.5);
			}
		}
		@for $i from 1 through 9 {
			&:nth-child(#{$i}) {
				transition: $default-duration cubic-bezier(unquote($easeOutBack)), transform $default-duration cubic-bezier(unquote($easeOutBack)) (60ms + ($i * $navitem-delay));
			}
		}
		span {
			display: inline-block;
			line-height: $navitem-size; white-space: nowrap;
			vertical-align: top;
			@media (min-width: $media-breakpoint-sm) {
				display: none;
			}
			@media (min-width: $media-breakpoint-md) {
				position: absolute; top: 0; bottom: 0; left: 100%; display: block; width: 0; overflow: hidden;
				background: rgba($darkgrey,.75);
				text-indent: 1em;
				transition: $default-duration cubic-bezier(unquote($easeOutBack));
			}
		}

		/* For each screen horizontal size, if there's not enough vertical space to display all nav items */
		@media (max-height: $nav-v-breakpoint * $media-ratio-xs) and (max-width: $media-breakpoint-sm),
		       (max-height: $nav-v-breakpoint * $media-ratio-sm) and (min-width: $media-breakpoint-sm) and (max-width: $media-breakpoint-md),
		       (max-height: $nav-v-breakpoint * $media-ratio-md) and (min-width: $media-breakpoint-md) and (max-width: $media-breakpoint-lg),
		       (max-height: $nav-v-breakpoint * $media-ratio-lg) and (min-width: $media-breakpoint-lg) and (max-width: $media-breakpoint-xl),
		       (max-height: $nav-v-breakpoint * $media-ratio-xl) and (min-width: $media-breakpoint-xl) {
			&:nth-child(even){
				display: none;
			}
		}
	}
	svg {
		width: $navitem-size * .5; height: $navitem-size * .5; margin: $navitem-size * .25;
		vertical-align: top;
	}
}
