// Lightbox without JS, with lazy load

.lbwojs { // LightBox WithOut JS
	position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 1337; display: block;
	background: rgba(#000, .75);
	opacity: 0; visibility: hidden;
	transition: .25s cubic-bezier(unquote($easeOutQuart));
	&::before {
		position: absolute; top: 50%; left: 50%; z-index: 0; display: block; padding: .5em 1em;
		transform: translate(-50%,-50%);
		background: black;
		color: white;
		opacity: 0; content: "loading…";
	}
	.lbwojs-effect {
		position: absolute; top: 5%; left: 5%; right: 5%; bottom: 5%; z-index: 1; display: block;
		transform: scale(.8);
		opacity: 0;
	}
	.lbwojs-img-container {
		display: none; // for lazy loading
	}
	.lbwojs-img {
		position: absolute; top: 0; left: 0; right: 0; bottom: 0;
		background: center / contain no-repeat;
	}
}

[data-action="lbwojs"]:focus + .lbwojs {
	opacity: 1; visibility: visible;
	&::before {
		opacity: 1;
		transition: opacity .75s cubic-bezier(unquote($easeOutQuart)) .25s;
	}
	.lbwojs-effect {
		transform: scale(1);
		opacity: 1;
		transition: .75s cubic-bezier(unquote($easeOutQuart));
	}
	.lbwojs-img-container {
		display: block;
	}
}


// 3D effects
/*
.lbwojs {
	perspective: 2000px;
	.lbwojs-effect {
		transform: translateY(-10%) scale(.8) rotateX(15deg);
	}
}

[data-action="lbwojs"]:focus ~ .lbwojs {
	.lbwojs-effect {
		transform: translateY(0) scale(1) rotateX(0);
	}
}
*/
